<a href="https://colab.research.google.com/github/DhanaTejaDumpa/pandas_practise/blob/main/10Feb2025_D_DhanaTeja_batch355_pandas_foodQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('indian_food.csv')
data.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

### 1) Which state has the highest count of recipes?

In [ ]:
data['state'].value_counts()[:1]

state
Gujarat    35
Name: count, dtype: int64

### 2) What is the Average prep time of all the recipes?

In [ ]:
np.average(data['prep_time'])

31.105882352941176

### 3) How many total recipes are there with diet type non vegetarian ?

In [ ]:
len(data[data['diet']=='non vegetarian'])

29

### 4) What is the median cook time of recipes?

In [ ]:
np.median(data['cook_time'])

30.0

### 5) What is the name of the recipe that has the longest cook time?

In [ ]:
data[data['cook_time'] == max(data['cook_time'])]

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
62,Shrikhand,"Curd, sugar, saffron, cardamom",vegetarian,10,720,sweet,dessert,Maharashtra,West

In [ ]:
data[data['cook_time'] == max(data['cook_time'])].name

62    Shrikhand
Name: name, dtype: object

### 6) What percentage of recipes is categorized as Dessert?

In [ ]:
data[data['course'] == 'dessert']['course'].count()

85

In [ ]:
(data[data['course'] == 'dessert']['course'].count()/len(data['course']))*100

33.33333333333333

In [ ]:
# alternative method
data.course.value_counts()

course
main course    129
dessert         85
snack           39
starter          2
Name: count, dtype: int64

In [ ]:
data.course.value_counts()[1]

<ipython-input-32-2b78bcef93d7>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data.course.value_counts()[1]

85

In [ ]:
(data.course.value_counts()[1]/data.course.count())*100

<ipython-input-33-d4091b9b6339>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (data.course.value_counts()[1]/data.course.count())*100

33.33333333333333

### 7) How many recipes has cook_time and prep_time greater than 15 mins?

In [ ]:
data[(data['cook_time']>15) & (data['prep_time']>15)].count()

name              84
ingredients       84
diet              84
prep_time         84
cook_time         84
flavor_profile    84
course            84
state             84
region            84
dtype: int64

### 8) What are the ingredients present in "Singori" recipe?

In [ ]:
data[data['name'] == "Singori"].ingredients

17    Khoa, coconut, molu leaf
Name: ingredients, dtype: object

### 9) Find the correlation between cook time and prep time?

In [ ]:
data['cook_time'].corr(data['prep_time'])

0.14411325100222416

### 10) What are the unique number of course we have in dataset?

In [ ]:
data.course.unique()

array(['dessert', 'main course', 'starter', 'snack'], dtype=object)

In [ ]:
data.course.nunique()

4