<a href="https://colab.research.google.com/github/DhanaTejaDumpa/pandas_practise/blob/main/14Feb25_D_DhanaTeja_355_pandas_pokemonQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 14/02/2025

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("pokemon_data.csv")
data.head()

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary

### 1) How many Pokémon have a hidden ability?

In [ ]:
data.columns

Index(['dexnum', 'name', 'generation', 'type1', 'type2', 'species', 'height',
       'weight', 'ability1', 'ability2', 'hidden_ability', 'hp', 'attack',
       'defense', 'sp_atk', 'sp_def', 'speed', 'total', 'ev_yield',
       'catch_rate', 'base_friendship', 'base_exp', 'growth_rate',
       'egg_group1', 'egg_group2', 'percent_male', 'percent_female',
       'egg_cycles', 'special_group'],
      dtype='object')

In [ ]:
data['hidden_ability'].notnull().sum()

530

In [ ]:
# alternative method
data.hidden_ability.count()

530

### What is the average weight of Pokémon in each generation?

In [ ]:
data.groupby('generation')['weight'].mean()

generation
1     45.951656
2     49.105000
3     67.077778
4     76.885047
5     52.402564
6     51.401389
7    109.661364
8     78.368750
9     87.295833
Name: weight, dtype: float64

### Which Pokémon species has the highest value count in the DataFrame?

In [ ]:
data.species.value_counts()

species
Paradox Pokémon        22
Dragon Pokémon          8
Mouse Pokémon           8
Fox Pokémon             7
Poison Pin Pokémon      6
                       ..
Willpower Pokémon       1
Knowledge Pokémon       1
Plasma Pokémon          1
Snow Land Pokémon       1
Subjugation Pokémon     1
Name: count, Length: 715, dtype: int64

In [ ]:
data.species.value_counts().nlargest(1)

species
Paradox Pokémon    22
Name: count, dtype: int64

In [ ]:
# alternative method

data.species.value_counts().idxmax()

# idxmax() method in pandas is used to find the index label of the minimum value in a pandas series or dataframe .
# if multiple values are equal to the max ,idxmax() returns the index of the first occurrence.

'Paradox Pokémon'

### What are the top 5 Pokémon with the highest speed?

In [ ]:
data.sort_values(by = 'speed', ascending = False).head(5)[['name','speed']]

          name  speed
893  Regieleki    200
290    Ninjask    160
794  Pheromosa    151
100  Electrode    150
385     Deoxys    150

### Which Pokémon has the highest base experience (base_exp)?

In [ ]:
data['base_exp'] = data['base_exp'].replace("—",np.nan)

In [ ]:
data['base_exp'] = data['base_exp'].astype(float)

In [ ]:
data[data['base_exp']==data['base_exp'].max()][['name','base_exp']]

        name  base_exp
241  Blissey     635.0

In [ ]:
# alternative method

data.sort_values(by = 'base_exp', ascending = False).head(1)[['name','base_exp']]

        name  base_exp
241  Blissey     635.0

### What is the average values of attack and defense?

In [ ]:
data[['attack','defense']].mean()

attack     77.521951
defense    72.507317
dtype: float64

### What is the most repeated primary type (type1) among all Pokémon?

In [ ]:
data.type1.value_counts().idxmax()

'Water'

In [ ]:
# alternative method
data.type1.value_counts().index[0]

'Water'

### How many 8th generation Pokémon do we have in the Data Frame?

In [ ]:
data.generation.value_counts()[8]

96

### How many Pokémon have two types (type1 and type2)?

In [ ]:
len(data.dropna(subset = ['type1','type2']))

526

In [ ]:
# alternative method

data[['type1','type2']].notna().sum()

# pokemons have both types is 526 .

type1    1025
type2     526
dtype: int64

### how to check descriptive statistics of Pokémon heights?

In [ ]:
data['height'].describe()

count    1025.000000
mean        1.211610
std         1.248167
min         0.100000
25%         0.500000
50%         1.000000
75%         1.500000
max        20.000000
Name: height, dtype: float64